In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

# importing warnings
import warnings
warnings.filterwarnings('ignore')

#### 1. Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details: A) Rank B) Name C) Artist D) Upload date E) Views

In [2]:
url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
page = requests.get(url)
soup=BeautifulSoup(page.content)

In [3]:
table = soup.find_all("table", class_="wikitable sortable")

In [4]:
top_vid=pd.read_html(str(table))
df=pd.DataFrame(top_vid[0])
df.drop(df.tail(1).index,inplace=True)
df.drop(columns=["Note","Unnamed: 6"], inplace=True)
df.index=df.index+1
df

,No.,Video name,Uploader,Views (billions),Upload date
1,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,10.21,"June 17, 2016"
2,2.,"""Despacito""[6]",Luis Fonsi,7.75,"January 12, 2017"
3,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.17,"October 8, 2016"
4,4.,"""Shape of You""[13]",Ed Sheeran,5.62,"January 30, 2017"
5,5.,"""See You Again""[15]",Wiz Khalifa,5.42,"April 6, 2015"
6,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,4.99,"May 2, 2018"
7,7.,"""Learning Colors – Colorful Eggs on a Farm""[21]",Miroshka TV,4.56,"February 27, 2018"
8,8.,"""Masha and the Bear – Recipe for Disaster""[22]",Get Movies,4.48,"January 31, 2012"
9,9.,"""Phonics Song with Two Words""[23]",ChuChu TV,4.47,"March 6, 2014"
10,10.,"""Uptown Funk""[24]",Mark Ronson,4.46,"November 19, 2014"
11,11.,"""Gangnam Style""[25]",Psy,4.34,"July 15, 2012"
12,12.,"""Dame Tu Cosita""[30]",El Chombo,3.85,"April 5, 2018"
13,13.,"""Wheels on the Bus""[31]",Cocomelon – Nursery Rhymes,3.68,"May 24, 2018"
14,14.,"""Sugar""[32]",Maroon 5,3.64,"January 14, 2015"
15,15.,"""Roar""[33]",Katy Perry,3.52,"September 5, 2013"
16,16.,"""Sorry""[34]",Justin Bieber,3.51,"October 22, 2015"
17,17.,"""Counting Stars""[35]",OneRepublic,3.51,"May 31, 2013"
18,18.,"""Thinking Out Loud""[36]",Ed Sheeran,3.41,"October 7, 2014"
19,19.,"""Girls Like You""[37]",Maroon 5,3.24,"May 31, 2018"
20,20.,"""Faded""[38]",Alan Walker,3.23,"December 3, 2015"
21,21.,"""Axel F""[39]",Crazy Frog,3.23,"June 16, 2009"
22,22.,"""Dark Horse""[40]",Katy Perry,3.22,"February 20, 2014"
23,23.,"""Let Her Go""[41]",Passenger,3.17,"July 25, 2012"
24,24.,"""Bailando""[42]",Enrique Iglesias,3.16,"April 11, 2014"
25,25.,"""Lean On""[43]",Major Lazer,3.16,"March 22, 2015"
26,26.,"""Shake It Off""[44]",Taylor Swift,3.14,"August 18, 2014"
27,27.,"""Baa Baa Black Sheep""[45]",Cocomelon – Nursery Rhymes,3.13,"June 25, 2018"
28,28.,"""Perfect""[46]",Ed Sheeran,3.09,"November 9, 2017"
29,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,3.06,"June 4, 2010"
30,30.,"""Mi Gente""[48]",J Balvin,3.04,"June 29, 2017"

#### 2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/. You need to find following details:
    A) Match title (I.e. 1st ODI)
    B) Series
    C) Place
    D) Date
    E) Time
    Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [5]:
import time
driver = webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.bcci.tv/")

international = driver.find_element_by_xpath('//li[@class="nav-item ml-0"]')
international.click()
time.sleep(5)

title=[]
series=[]
place=[]
date=[]
time=[]

Series=driver.find_elements_by_xpath('//span[@class="ng-binding"]')
for i in Series:
    series.append(i.text)

Place=driver.find_elements_by_xpath('//div[@class="fix-place ng-binding ng-scope"]')
for i in Place:
    title.append(i.text.split("-",2)[0])
    place.append(i.text.split(" ",3)[3])
    
Date=driver.find_elements_by_xpath('//h5[@class="ng-binding"]')
for i in Date:
    date.append(i.text)
    
Time=driver.find_elements_by_xpath('//h5[@class="text-right ng-binding"]')
for i in Time:
    time.append(i.text)

len(series),len(title),len(place),len(date),len(time)

(8, 8, 8, 8, 8)

In [6]:
driver.close()

df = pd.DataFrame({"Title":title,
                  "Series":series,
                  "Place":place,
                  "Date":date,
                  "Time":time})
df.index=df.index+1
df

,Title,Series,Place,Date,Time
1,5th ODI,INDIA WOMEN TOUR OF NEW ZEALAND ODI SERIES 2022,"John Davies Oval, Queenstown",24 FEB 2022,3:30 AM IST
2,1st T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,24 FEB 2022,7:00 PM IST
3,2nd T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022,"Himachal Pradesh Cricket Association Stadium, ...",26 FEB 2022,7:00 PM IST
4,3rd T20I,SRI LANKA TOUR OF INDIA T20 SERIES 2022,"Himachal Pradesh Cricket Association Stadium, ...",27 FEB 2022,7:00 PM IST
5,1st Test,SRI LANKA TOUR OF INDIA TEST SERIES 2022,"Punjab Cricket Association IS Bindra Stadium, ...",4 MAR 2022,9:30 AM IST
6,1st ODI,ICC WOMENS WORLD CUP 2022,"Bay Oval, Mount Maunganui",6 MAR 2022,6:30 AM IST
7,2nd ODI,ICC WOMENS WORLD CUP 2022,"Seddon Park, Hamilton",10 MAR 2022,6:30 AM IST
8,2nd Test,SRI LANKA TOUR OF INDIA TEST SERIES 2022,"M Chinnaswamy Stadium, Bengaluru",12 MAR 2022,12:30 PM IST

#### 3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/ 

You need to find following details:
A) Name
B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [7]:
import time

driver = webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.guru99.com/")

In [8]:
selenium=driver.find_element_by_xpath('//a[@title="Selenium"]')
selenium.click()

In [9]:
time.sleep(3)
se_ex_handling=driver.find_element_by_xpath('//a[@data-lasso-id="182688"]')
se_ex_handling.click()

In [10]:
url=driver.current_url
driver.get(url)
soup = BeautifulSoup(driver.page_source,'html')
driver.quit()
tables = soup.find_all('table')

In [11]:
des=pd.read_html(str(tables))
df=pd.DataFrame(des[0])
df.index=df.index+1
df

,Exception name,Description
1,ElementNotVisibleException,This type of Selenium exception occurs when an...
2,ElementNotSelectableException,This Selenium exception occurs when an element...
3,NoSuchElementException,This Exception occurs if an element could not ...
4,NoSuchFrameException,This Exception occurs if the frame target to b...
5,NoAlertPresentException,This Exception occurs when you switch to no pr...
6,NoSuchWindowException,This Exception occurs if the window target to ...
7,StaleElementReferenceException,This Selenium exception occurs happens when th...
8,SessionNotFoundException,The WebDriver is acting after you quit the bro...
9,TimeoutException,Thrown when there is not enough time for a com...
10,WebDriverException,This Exception takes place when the WebDriver ...
11,ConnectionClosedException,This type of Exception takes place when there ...
12,ElementClickInterceptedException,The command may not be completed as the elemen...
13,ElementNotInteractableException,This Selenium exception is thrown when any ele...
14,ErrorInResponseException,This happens while interacting with the Firefo...
15,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
16,ImeActivationFailedException,This expectation will occur when IME engine ac...
17,ImeNotAvailableException,It takes place when IME support is unavailable.
18,InsecureCertificateException,Navigation made the user agent to hit a certif...
19,InvalidArgumentException,It occurs when an argument does not belong to ...
20,InvalidCookieDomainException,This happens when you try to add a cookie unde...
21,InvalidCoordinatesException,This type of Exception matches an interacting ...
22,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
23,InvalidSessionIdException,This Exception took place when the given sessi...
24,InvalidSwitchToTargetException,This occurs when the frame or window target to...
25,JavascriptException,This issue occurs while executing JavaScript g...
26,JsonException,It occurs when you afford to get the session w...
27,NoSuchAttributeException,This kind of Exception occurs when the attribu...
28,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
29,NoSuchContextException,ContextAware does mobile device testing.
30,NoSuchCookieException,This Exception occurs when no cookie matching ...
31,NotFoundException,This Exception is a subclass of WebDriverExcep...
32,RemoteDriverServerException,This Selenium exception is thrown when the ser...
33,ScreenshotException,It is not possible to capture a screen.
34,SessionNotCreatedException,It happens when a new session could not be suc...
35,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
36,UnexpectedTagNameException,Happens if a support class did not get a web e...
37,UnhandledAlertException,This expectation occurs when there is an alert...
38,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
39,UnknownMethodException,This Exception happens when the requested comm...
40,UnreachableBrowserException,This Exception occurs only when the browser is...
41,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

#### 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

You have to find following details:

    * Rank
    * State
    * GSDP
    * GSDP
    * Share
    * GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [12]:
driver = webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("http://statisticstimes.com/")

In [13]:
eco=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/button')
eco.click()
ind=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
ind.click()
time.sleep(2)

In [14]:
time.sleep(2)
gdp_ind=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
gdp_ind.click()

In [15]:
url=driver.current_url
driver.get(url)
soup = BeautifulSoup(driver.page_source,'html')
driver.quit()
tables = soup.find_all('table')

In [16]:
tble=pd.read_html(str(tables))
df=pd.DataFrame(tble[1])
df.index=df.index+1
df

    Rank                      State GSDP (Cr INR at Current prices)            \
    Rank                      State                           19-20     18-19
1    1.0                Maharashtra                               -   2632792
2    2.0                 Tamil Nadu                         1845853   1630208
3    3.0              Uttar Pradesh                         1687818   1584764
4    4.0                    Gujarat                               -   1502899
5    5.0                  Karnataka                         1631977   1493127
6    6.0                West Bengal                         1253832   1089898
7    7.0                  Rajasthan                         1020989    942586
8    8.0             Andhra Pradesh                          972782    862957
9    9.0                  Telangana                          969604    861031
10  10.0             Madhya Pradesh                          906672    809592
11  11.0                     Kerala                               -    781653
12  12.0                      Delhi                          856112    774870
13  13.0                    Haryana                          831610    734163
14  14.0                      Bihar                          611804    530363
15  15.0                     Punjab                          574760    526376
16  16.0                     Odisha                          521275    487805
17  17.0                      Assam                               -    315881
18  18.0               Chhattisgarh                          329180    304063
19  19.0                  Jharkhand                          328598    297204
20  20.0                Uttarakhand                               -    245895
21  21.0            Jammu & Kashmir                               -    155956
22  22.0           Himachal Pradesh                          165472    153845
23  23.0                        Goa                           80449     73170
24  24.0                    Tripura                           55984     49845
25  25.0                 Chandigarh                               -     42114
26  26.0                 Puducherry                           38253     34433
27  27.0                  Meghalaya                           36572     33481
28  28.0                     Sikkim                           32496     28723
29  29.0                    Manipur                           31790     27870
30  30.0                   Nagaland                               -     27283
31  31.0          Arunachal Pradesh                               -     24603
32  32.0                    Mizoram                           26503     22287
33  33.0  Andaman & Nicobar Islands                               -         -
34   NaN                      India                        20351013  18886957

     Share GDP ($billion) GSDP (Cr INR at 2011-12 prices)
     18-19           2019                           19-20     18-19
1   13.94%        399.921                               -   2039074
2    8.63%        247.629                         1312929   1215307
3    8.39%        240.726                         1166817   1123982
4    7.96%        228.290                               -   1186379
5    7.91%        226.806                         1156039   1091077
6    5.77%        165.556                          793223    739525
7    4.99%        143.179                          711627    677428
8    4.57%        131.083                          672018    621301
9    4.56%        130.791                          663258    612828
10   4.29%        122.977                          561801    522009
11   4.14%        118.733                               -    559412
12   4.10%        117.703                          634408    590569
13   3.89%        111.519                          572240    531085
14   2.81%         80.562                          414977    375651
15   2.79%         79.957                          418868    397669
16   2.58%         74.098                          396499    376877
17   1.67%         47.982                               -    234048
18   1.61%         46.187                          243477    231182
19   1.57%         45.145                          240036    224986
20   1.30%         37.351                               -    193273
21   0.83%         23.690                               -    112755
22   0.81%         23.369                          124403    117851
23   0.39%         11.115                           63408     57787
24   0.26%          7.571                           40583     36963
25   0.22%          6.397                               -     31192
26   0.18%          5.230                           25093     23013
27   0.18%          5.086                           26695     24682
28   0.15%          4.363                           20017     18722
29   0.15%          4.233                           20673     19300
30   0.14%          4.144                               -     17647
31   0.13%          3.737                               -     16676
32   0.12%          3.385                           18797     16478
33       -              -                               -         -
34     NaN           2869                        14569268  14003316

#### 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
ASSIGNMENT
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [2]:
driver = webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://github.com/")

In [3]:
explore = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
explore.click()

In [4]:
trending = driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a')
trending.click()

In [5]:
assign=[]
repo_title=[]
assignment = driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]')

time.sleep(3)
for i in assignment:
    if i.text is None:
        assign.append("-")
        repo_title.append("-")
    else:
        assign.append(i.text)
        repo_title.append(i.text.split(" / ")[1])

repo_desc=[]
time.sleep(3)
desc = driver.find_elements_by_xpath('//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in desc:
    if i.text is None:
        repo_desc.append("-")
    else:
        repo_desc.append(i.text)
        
count=[]
time.sleep(3)
contri_count = driver.find_elements_by_xpath('//a[@class="Link--muted d-inline-block mr-3"]')
for i in contri_count:
    if i.text is None:
        count.append("-")
    else:
        count.append(i.text)
        
language=[]
time.sleep(3)
lang = driver.find_elements_by_xpath('//span[@itemprop="programmingLanguage"]')
for i in lang:
    if i.text is None:
        language.append("-")
    else:
        language.append(i.text)

time.sleep(3)        
x=assign[0:22]
y=repo_title[0:22]
p=repo_desc[0:22]
q=count[1:44:2]
r=language
driver.close()

In [6]:
len(x),len(y),len(p),len(q),len(r)

(22, 22, 22, 22, 20)

In [7]:
df = pd.DataFrame({'Repository title':x[0:20],
                   'Repository description':p[0:20],
                   'Contributors count':q[0:20],
                   'Language used ASSIGNMENT':r})
df.index=df.index+1
df

,Repository title,Repository description,Contributors count,Language used ASSIGNMENT
1,Anduin2017 / HowToCook,程序员在家做饭方法指南。Programmer's guide about how to co...,"1,116",Clojure
2,penpot / penpot,Penpot - The Open-Source design & prototyping ...,393,Python
3,commaai / openpilot,openpilot is an open source driver assistance ...,"6,062",C++
4,danistefanovic / build-your-own-x,🤓 Build your own (insert technology here),"12,420",Python
5,midisec / BypassAnti-Virus,免杀姿势学习、记录、复现。,40,JavaScript
6,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,"30,286",Python
7,iamadamdev / bypass-paywalls-chrome,Bypass Paywalls web browser extension for Chro...,"1,629",Cuda
8,swisskyrepo / PayloadsAllTheThings,A list of useful payloads and bypass for Web A...,"9,558",TypeScript
9,myugan / awesome-cicd-security,📚 A curated list of awesome CI CD security res...,14,C
10,NVlabs / instant-ngp,Instant neural graphics primitives: lightning ...,309,C#
11,supabase / supabase,The open source Firebase alternative. Follow t...,"1,610",C
12,helloexp / 0day,各种CMS、各种平台、各种系统、各种软件漏洞的EXP、POC 该项目将不断更新,286,Rust
13,coding-horror / basic-computer-games,"An updated version of the classic ""Basic Compu...",743,C#
14,Cracked5pider / ShellcodeTemplate,An easily modifiable shellcode template for Wi...,19,Dockerfile
15,TheAlgorithms / Rust,All Algorithms implemented in Rust,701,Java
16,microsoft / reverse-proxy,A toolkit for developing high-performance HTTP...,444,Python
17,lwthiker / curl-impersonate,curl-impersonate: A special compilation of cur...,24,Ruby
18,GrowingGit / GitHub-Chinese-Top-Charts,🇨🇳 GitHub中文排行榜，各语言分离设置「软件 / 资料」榜单，精准定位中文好项目。各取...,"6,367",Go
19,brohrer / sharpened_cosine_similarity_torch,A Sharpened Cosine Similarity layer for PyTorch,11,Python
20,evilbuffer / malware-and-exploitdev-resources,A complete computer science study plan to beco...,17,Python

#### 6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/

You have to find the following details:
    A) Song name
    B) Artist name
    C) Last week rank
    D) Peak rank
    E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [8]:
driver = webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.billboard.com")

In [9]:
hot_100 = driver.find_element_by_xpath("/html/body/div[4]/header/div[2]/div/nav/ul/li[1]/a")
try:
    hot_100.click()
except ElementNotInteractableException:
    driver.get(hot_100.get_attribute('href'))
time.sleep(2)

In [10]:
store=[]

In [11]:
try:
    store_tag=driver.find_elements_by_xpath("//div[@class='o-chart-results-list-row-container']")
    for i in store_tag:
        Store=i.text
        store.append(Store)
except:
    store.append('-')

driver.close()

In [12]:
playlist=pd.DataFrame({})
playlist['Playlist']=store[:100]

In [13]:
df=playlist['Playlist']
playlist[['SNo','Song Name','Artist Name','Last Week Rank','Peak Rank','Week On Board']]=df.str.split("\n",n=5,expand=True)
playlist=playlist.drop('Playlist',axis=1)
playlist[:100]

,SNo,Song Name,Artist Name,Last Week Rank,Peak Rank,Week On Board
0,1,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz...",1,1,7
1,2,NEW,Do We Have A Problem?,Nicki Minaj X Lil Baby,-,2\n1
2,3,Easy On Me,Adele,2,1,18
3,4,Heat Waves,Glass Animals,3,3,56
4,5,Stay,The Kid LAROI & Justin Bieber,4,1,31
...,...,...,...,...,...,...
95,96,Iffy,Chris Brown,87,71,4
96,97,NEW,When I'm Gone,Alesso / Katy Perry,-,97\n1
97,98,Fair Trade,Drake Featuring Travis Scott,90,3,17
98,99,Megan's Piano,Megan Thee Stallion,97,97,2
99,100,RE- ENTRY,Moth To A Flame,Swedish House Mafia & The Weeknd,-,27\n8

# 7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/ 
You have to find the following details: A) Name B) Designation C) Company D) Skills they hire for E) Location 
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [14]:
driver = webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")
driver.get('https://www.naukri.com/mnjuser/homepage')

In [15]:
recruiters=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
driver.get(recruiters.get_attribute('href'))

search=driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys("Data Science")
time.sleep(2)

button=driver.find_element_by_xpath("//button[@id='qsbFormBtn']")
button.click()
time.sleep(2)

In [16]:
name=[]
try:
    names=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[1]")
    for i in names:
        name.append(i.text)
except NoSuchElementException:          
    name.append('-')
time.sleep(2)

designation=[]
try:
    designation_list=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/span[1]")
    for i in designation_list:
        designation.append(i.text)
except NoSuchElementException:     
    designation.append('-')
time.sleep(2)

company=[]
try:
    companies=driver.find_elements_by_xpath("//div[@class='recInfo']/div/p/a[2]")
    for i in companies:
        company.append(i.text)
except NoSuchElementException:
    company.append('-')
time.sleep(2)

location=[]
soup=BeautifulSoup(driver.page_source,'html.parser')
l=soup.find_all('div',attrs={'vcard'})
for i in l:
    try:
        location.append(i.find('small').text)
    except AttributeError :
        location.append("-")
time.sleep(2)

skill=[]
try:
    skills=driver.find_elements_by_xpath("//div[@class='recInfo']/div[2]")
    for i in skills:
        skill.append(i.text)
except NoSuchElementException:      
    skill.append('-')

In [17]:
driver.close()
df=pd.DataFrame({'Name':name,
                'Designation':designation,
                'Company':company,
                'Skills they hire':skill,
                'Location':location,
                })
df.index=df.index+1
df

,Name,Designation,Company,Skills they hire,Location
1,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
2,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
3,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
4,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
7,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
9,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
10,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
17,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
18,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
19,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
20,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
21,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
22,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
23,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
24,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
25,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
26,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
27,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
28,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
29,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
30,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",-
31,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
32,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
33,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
34,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
48,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",-
49,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
50,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [18]:
driver = webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [19]:
url=driver.current_url
driver.get(url)
soup = BeautifulSoup(driver.page_source,'html')
driver.quit()
tables = soup.find_all('table')

In [20]:
tble=pd.read_html(str(tables))
df=pd.DataFrame(tble[0])
df.index=df.index+1
df.head(100)

,Rank,Title,Author,Volume Sales,Publisher,Genre
1,1,"Da Vinci Code,The","Brown, Dan",5094805,Transworld,"Crime, Thriller & Adventure"
2,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.",4475152,Bloomsbury,Children's Fiction
3,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",4200654,Bloomsbury,Children's Fiction
4,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",4179479,Bloomsbury,Children's Fiction
5,5,Fifty Shades of Grey,"James, E. L.",3758936,Random House,Romance & Sagas
...,...,...,...,...,...,...
96,96,"Ghost,The","Harris, Robert",807311,Random House,General & Literary Fiction
97,97,Happy Days with the Naked Chef,"Oliver, Jamie",794201,Penguin,Food & Drink: General
98,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne",792187,Scholastic Ltd.,Young Adult Fiction
99,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave",791507,Orion,Biography: General
100,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie",791095,Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [21]:
driver = webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")
driver.get('https://www.imdb.com/list/ls095964455/')

In [24]:
name=[]
years=[]
genre=[]
run_time=[]
rating=[]
votes=[]

try:
    names=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
    for i in names:
        name.append(i.text)
except NosuchElementException:
    name.append('-')
time.sleep(2)

try:
    year=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
    for i in year:
        years.append(i.text)
except NosuchElementException:
    years.append('-')
time.sleep(2)

try:
    genres=driver.find_elements_by_xpath("//span[@class='genre']")
    for i in genres:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('-')
time.sleep(2)

try:
    run=driver.find_elements_by_xpath("//span[@class='runtime']")
    for i in run:
        run_time.append(i.text)
except NoSuchElementException:
    run_time.append('-')
time.sleep(2)

try:
    ratings=driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]")
    for i in ratings:
        rating.append(i.text)
except NoSuchElementException:
    rating.append('-')
time.sleep(2)

try:
    vote=driver.find_elements_by_xpath("//span[@name='nv']")
    for i in vote:
        votes.append(i.text)
except NoSuchElementException:
    votes.append('-')

In [25]:
driver.close()
df=pd.DataFrame({"Name":name,
                "Year Span":years,
                "Genre":genre,
                "Run Time":run_time,
                "Ratings":rating,
                "Votes":votes})
df.index=df.index+1
df

,Name,Year Span,Genre,Run Time,Ratings,Votes
1,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,955,339"
2,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"965,280"
3,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"931,323"
4,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"278,879"
5,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"239,062"
...,...,...,...,...,...,...
96,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"47,761"
97,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"58,493"
98,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"185,537"
99,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"39,268"
100,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"221,782"

# 10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/

You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [26]:
driver = webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")
driver.get('https://archive.ics.uci.edu/')

In [27]:
show_all = driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td/span/b/a')
show_all.click()

In [28]:
url=driver.current_url
driver.get(url)
soup = BeautifulSoup(driver.page_source,'html')
driver.quit()
tables = soup.find_all('table')

In [29]:
print(url)

https://archive.ics.uci.edu/ml/datasets.php

In [30]:
tble=pd.read_html(str(tables))
df=pd.DataFrame(tble[5])
df.columns = df.iloc[0]
df = df.drop(0)
df.dropna(inplace=True)
index = pd.Index(range(1,440,1))
df=df.set_index(index)
df

,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
1,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
4,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",6000,7,1992
5,Audiology (Standardized),Multivariate,Classification,Categorical,226,69,1992
...,...,...,...,...,...,...,...
435,Steel Industry Energy Consumption Dataset,Multivariate,Regression,Integer,35040,11,2020
436,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
437,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
438,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
439,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021