# CAR PRICE PREDICTION WEB SCRAPING 
With the covid 19 impact in the market, we have seen lot of changes in the car market. Now some
cars are in demand hence making them costly and some are not in demand hence cheaper. One
of our clients works with small traders, who sell used cars. With the change in market due to covid
19 impact, our client is facing problems with their previous car price valuation machine learning
models. So, they are looking for new machine learning models from new data. We have to make
car price valuation model. This project contains two phaseData Collection Phase
You have to scrape at least 5000 used cars data. You can scrape more data as well, it’s up to you.
more the data better the model

In this section You need to scrape the data of used cars from websites (Olx, cardekho, Cars24
etc.) You need web scraping for this. You have to fetch data for different locations. The number of
columns for data doesn’t have limit, it’s up to you and your creativity. Generally, these columns are
Brand, model, variant, manufacturing year, driven kilometers, fuel, number of owners, location and
at last target variable Price of the car. This data is to give you a hint about important variables in
used car model. You can make changes to it, you can add or you can remove some columns, it
completely depends on the website from which you are fetching the data.
Try to include all types of cars in your data for example- SUV, Sedans, Coupe, minivan,
Hatchback.

Note – The data which you are collecting is important to us. Kindly don’t share it on any public platforms.
Model Building Phase

After collecting the data, you need to build a machine learning model. Before model building do all
data pre-processing steps. Try different models with different hyper parameters and select the best
model.

Follow the complete life cycle of data science. Include all the steps like.
1. Data Cleaning
2. Exploratory Data Analysis
3. Data Pre-processing
4. Model Building
5. Model Evaluation
6. Selecting the best model

In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

# importing warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver = webdriver.Chrome(r"C:\Users\dell\Downloads\chromedriver_win32\chromedriver.exe")
driver.get("https://www.cars24.com/")
time.sleep(2)

cross_button=driver.find_element_by_xpath('//div[@class="float-right TBxAN"]')
cross_button.click()

In [3]:
# exploring the locations
all_cars_loc_data=[]

for i in driver.find_elements_by_xpath("//ul[@class='_2s4G4']/li/a")[10::11]:
    all_cars_loc_data.append(i.get_attribute('href'))

In [4]:
all_cars_loc_data

['https://www.cars24.com/buy-used-cars-bengaluru/',
 'https://www.cars24.com/buy-used-cars-chennai/',
 'https://www.cars24.com/buy-used-cars-new-delhi/',
 'https://www.cars24.com/buy-used-cars-mumbai/',
 'https://www.cars24.com/buy-used-cars-pune/',
 'https://www.cars24.com/buy-used-cars-hyderabad/',
 'https://www.cars24.com/buy-used-cars-kolkata/',
 'https://www.cars24.com/buy-used-cars-ahmedabad/',
 'https://www.cars24.com/buy-used-cars-jaipur/',
 'https://www.cars24.com/buy-used-cars-chandigarh/']

In [5]:
location=[]
brand_n_model=[]
km_owner_fuel=[]
variant_mannual_auto=[]
price=[]

In [6]:
try:
    for details in all_cars_loc_data:
        driver.get(details)
        time.sleep(5)
        loc= driver.find_element_by_tag_name("h1").text

        driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
        time.sleep(60)
        for _ in range(1000):
            driver.execute_script("window.scrollBy(0,10000)")
        
       
        for i in range(len(driver.find_elements_by_xpath("//h2[@class='_3FpCg']"))):
            location.append(loc)
        
        try:
            for i in driver.find_elements_by_xpath("//h2[@class='_3FpCg']"):
                brand_n_model.append(i.text)
                                                     
        except:
            brand_n_model.append("-")
            print("Error1")
        
        try:
            for i in driver.find_elements_by_xpath("//ul[@class='bVR0c']"):
                km_owner_fuel.append(i.text)
        except:
            km_owner_fuel.append("-")
            print("Error2")
        
        try:
            for i in driver.find_elements_by_xpath("//p[@class='cvakB']"):
                variant_mannual_auto.append(i.text)
        except:
            variant_mannual_auto.append("-")
            print("Error3")

        for i in driver.find_elements_by_xpath("//div[@class='_7udZZ']/span"):
            price.append(i.text)        
        
except:
    print("Error Occured!!!")

In [7]:
len(location), len(brand_n_model), len(km_owner_fuel), len(variant_mannual_auto), len(price)

(4537, 4537, 4537, 4537, 4537)

In [8]:
manufacture_year=[]
car_model=[]
brand=[]
km_driven=[]
no_of_owner=[]
fuel_type=[]
variant=[]
manual_auto=[]
Location=[]
nos=[]
Car_Price=[]

for i in brand_n_model:
    car_model.append(i.split(" ")[1])
    manufacture_year.append(int(i.split(" ")[0]))
    brand.append(i.split(" ")[2])
for i in km_owner_fuel:
    km_driven.append(int(i.split("\n")[0].split(" ")[0].replace(",","")))
    no_of_owner.append(i.split("\n")[1])
    fuel_type.append(i.split("\n")[2])
for i in variant_mannual_auto:
    check=i.split(" ")[-1]
    if (check=='Manual' or check=='Automatic'):
        manual_auto.append(check)
        variant.append(i.split(" ")[:-1])
    elif i.split(" ")[-1]=="AT":
        manual_auto.append("Automatic")
        variant.append(i.split(" "))
    else:
        manual_auto.append("Manual")
        variant.append(i.split(" "))
for i in location:
    s=""
    l=i.split(" ")[3:]
    for _ in range(len(l)):
        s+=l[_]+" "
    Location.append(s)
for i in no_of_owner:
    nos.append(int(i[0]))
for i in price:
    Car_Price.append(int(i[1:].replace(",","")))

In [9]:
v=[]
for i in variant:
    k=""
    for j in range(len(i)):
        k+=i[j]
        k+=" "
    v.append(k)

In [10]:
# creating the dataframe
df=pd.DataFrame()
df['Brand']=car_model
df['model']=brand
df['variant']=v
df['Transmission']=manual_auto
df['Year of Manufacturing']=manufacture_year
df['Driven_in_km']=km_driven
df['Fuel_type']=fuel_type
df['Number of owner']=nos
df['Location']=Location
df['Price']=Car_Price
df

,Brand,model,variant,Transmission,Year of Manufacturing,Driven_in_km,Fuel_type,Number of owner,Location,Price
0,Elite,Hyundai,ASTA 1.4 CRDI,Manual,2016,43221,Diesel,2,Bengaluru,686299
1,Swift,Maruti,ZDI AMT,Automatic,2018,78534,Diesel,1,Bengaluru,746099
2,Verna,Hyundai,1.6 SX VTVT,Manual,2017,29525,Petrol,1,Bengaluru,903199
3,Alto,Maruti,VXI,Manual,2012,49493,Petrol,1,Bengaluru,297699
4,Ameo,Volkswagen,HIGHLINE 1.5,Manual,2016,56225,Diesel,1,Bengaluru,618999
...,...,...,...,...,...,...,...,...,...,...
4532,Ecosport,Ford,1.5 TREND TDCI,Manual,2018,92869,Diesel,1,interrupted,697599
4533,Benz,Mercedes,250 CDI CLASSIC,Automatic,2010,115576,Diesel,1,interrupted,862699
4534,Polo,Volkswagen,COMFORTLINE 1.2L PETROL,Manual,2015,64111,Petrol,2,interrupted,412599
4535,Creta,Hyundai,1.4 E PLUS CRDI,Manual,2018,66234,Diesel,1,interrupted,864699
4536,City,Honda,VX CVT PETROL,Automatic,2019,41513,Petrol,1,interrupted,1125599

In [11]:
df.to_csv('Cars24.csv')

In [12]:
driver.close()